<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>IMA</display-name>
  <welcome-file-list>
	<welcome-file>Login.jsp</welcome-file>
	<!--  
    <welcome-file>Q1changeinstallpoint.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    -->
  </welcome-file-list>
  <servlet>
    <servlet-name>Q1ChangeInstallPointServlet</servlet-name>
    <servlet-class>main.java.com.ima.dev.Q1ChangeInstallPointServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q1ChangeInstallPointServlet</servlet-name>
    <url-pattern>/Q1ChangeInstallPointServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Q1PremiseDetailsServlet</servlet-name>
    <servlet-class>main.java.com.ima.dev.Q1PremiseDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q1PremiseDetailsServlet</servlet-name>
    <url-pattern>/Q1PremiseDetailsServlet</url-pattern>
  </servlet-mapping> 
  <servlet>
    <servlet-name>Q2ChangeInstallPointServlet</servlet-name>
    <servlet-class>main.java.com.ima.dev.Q2ChangeInstallPointServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q2ChangeInstallPointServlet</servlet-name>
    <url-pattern>/Q2ChangeInstallPointServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Q2UpdateInstallPointServlet</servlet-name>
    <servlet-class>main.java.com.ima.dev.Q2UpdateInstallPointServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q2UpdateInstallPointServlet</servlet-name>
    <url-pattern>/Q2UpdateInstallPointServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Q3ChangeWaterMeterType</servlet-name>
    <servlet-class>main.java.com.ima.dev.Q3ChangeWaterMeterTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q3ChangeWaterMeterType</servlet-name>
    <url-pattern>/Q3ChangeWaterMeterTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Q3UpdateMiuModuleTypeServlet</servlet-name>
    <servlet-class>main.java.com.ima.dev.Q3UpdateMiuModuleTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q3UpdateMiuModuleTypeServlet</servlet-name>
    <url-pattern>/Q3UpdateMiuModuleTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Q3UpdateWaterMeterType</servlet-name>
    <servlet-class>main.java.com.ima.dev.Q3UpdateWaterMeterType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q3UpdateWaterMeterType</servlet-name>
    <url-pattern>/Q3UpdateWaterMeterType</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Q4ChangeWaterMIUMeterServlet</servlet-name>
    <servlet-class>main.java.com.ima.dev.Q4ChangeWaterMIUMeterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q4ChangeWaterMIUMeterServlet</servlet-name>
    <url-pattern>/Q4ChangeWaterMIUMeterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Q4UpdateMeterModuleServlet</servlet-name>
    <servlet-class>main.java.com.ima.dev.Q4UpdateMeterModuleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q4UpdateMeterModuleServlet</servlet-name>
    <url-pattern>/Q4UpdateMeterModuleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Q4UpdateMiuModuleServlet</servlet-name>
    <servlet-class>main.java.com.ima.dev.Q4UpdateMiuModuleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q4UpdateMiuModuleServlet</servlet-name>
    <url-pattern>/Q4UpdateMiuModuleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Q5UpdateMiuMeterRelationServlet</servlet-name>
    <servlet-class>main.java.com.ima.dev.Q5UpdateMiuMeterRelationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q5UpdateMiuMeterRelationServlet</servlet-name>
    <url-pattern>/Q5UpdateMiuMeterRelationServlet</url-pattern>
  </servlet-mapping>
 <servlet>
    <servlet-name>Q5ViewMiuMeterRelationServlet</servlet-name>
    <servlet-class>main.java.com.ima.dev.Q5ViewMiuMeterRelationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q5ViewMiuMeterRelationServlet</servlet-name>
    <url-pattern>/Q5ViewMiuMeterRelationServlet</url-pattern>
  </servlet-mapping> 
  <servlet>
    <servlet-name>Q6ChangeInstallPointWaterServlet</servlet-name>
    <servlet-class>main.java.com.ima.dev.Q6ChangeInstallPointWaterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q6ChangeInstallPointWaterServlet</servlet-name>
    <url-pattern>/Q6ChangeInstallPointWaterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Q6UpdateInstallPointWaterServlet</servlet-name>
    <servlet-class>main.java.com.ima.dev.Q6UpdateInstallPointWaterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q6UpdateInstallPointWaterServlet</servlet-name>
    <url-pattern>/Q6UpdateInstallPointWaterServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Q7WaterDetailsByWorkOrderServlet</servlet-name>
    <servlet-class>main.java.com.ima.dev.Q7WaterDetailsByWorkOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q7WaterDetailsByWorkOrderServlet</servlet-name>
    <url-pattern>/Q7WaterDetailsByWorkOrderServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Q7UpdateMIUMeterRelationServlet</servlet-name>
  	<servlet-class>main.java.com.ima.dev.Q7UpdateMIUMeterRelationServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>Q8ChangeInstallPointSingleServlet</display-name>
  	<servlet-name>Q8ChangeInstallPointSingleServlet</servlet-name>
  	<servlet-class>main.java.com.ima.dev.Q8ChangeInstallPointSingleServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>Q8UpdateInstallPointSingleServlet</display-name>
  	<servlet-name>Q8UpdateInstallPointSingleServlet</servlet-name>
  	<servlet-class>main.java.com.ima.dev.Q8UpdateInstallPointSingleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Q7UpdateMIUMeterRelationServlet</servlet-name>
  	<url-pattern>/Q7UpdateMIUMeterRelationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Q8ChangeInstallPointSingleServlet</servlet-name>
  	<url-pattern>/Q8ChangeInstallPointSingleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Q8UpdateInstallPointSingleServlet</servlet-name>
  	<url-pattern>/Q8UpdateInstallPointSingleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkCredentialServlet</servlet-name>
    <servlet-class>main.java.com.ima.dev.checkCredentialServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkCredentialServlet</servlet-name>
    <url-pattern>/checkCredentialServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Q9RetrieveWorkOrderServlet</servlet-name>
  	<servlet-class>main.java.com.ima.dev.Q9RetrieveWorkOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Q9RetrieveWorkOrderServlet</servlet-name>
  	<url-pattern>/Q9RetrieveWorkOrderServlet</url-pattern>
  </servlet-mapping>
  
  
    
<resource-ref>
	<description>Resource reference to my database</description>
	<res-ref-name>jdbc/db</res-ref-name>
	<res-type>javax.sql.DataSource</res-type>
	<res-auth>Container</res-auth>
	<res-sharing-scope>Shareable</res-sharing-scope>
</resource-ref>

<env-entry>
	<description>Type of authentication</description>
	<env-entry-name>SECURITY_AUTHENTICATION</env-entry-name>
	<env-entry-type>java.lang.String</env-entry-type>
	<env-entry-value>simple</env-entry-value>
</env-entry>
<env-entry>
	<description>DN of the user that will get a connection against Directory Service</description>
	<env-entry-name>SECURITY_PRINCIPAL</env-entry-name>
	<env-entry-type>java.lang.String</env-entry-type>
	<env-entry-value>uid=ldapusr,ou=admins,dc=iubs,dc=mt</env-entry-value>
</env-entry>
<env-entry>
	<description>Password</description>
	<env-entry-name>SECURITY_CREDENTIALS</env-entry-name>
	<env-entry-type>java.lang.String</env-entry-type>
	<env-entry-value>mgwK2Vux2Gs</env-entry-value>
</env-entry>
<env-entry>
	<description>URL of the Directory Service</description>
	<env-entry-name>PROVIDER_URL</env-entry-name>
	<env-entry-type>java.lang.String</env-entry-type>
	<!-- Below entry is for prod environment-->
	 <!--<env-entry-value>ldap://ammttam01.iubs.intra:389</env-entry-value>-->
	 <!-- Below entry is for development environment --> 
	 <env-entry-value>ldap://localhost:389</env-entry-value>
</env-entry>
<env-entry>
	<description>DN of the group of users that can go into the app</description>
	<env-entry-name>ALLOWED_GROUP</env-entry-name>
	<env-entry-type>java.lang.String</env-entry-type>
	<env-entry-value>cn=ammieusers,ou=groups,ou=applications,dc=iubs,dc=mt</env-entry-value>
	<!-- <env-entry-value>cn=operators,ou=groups,ou=applications,dc=iubs,dc=mt</env-entry-value> -->	
</env-entry>

</web-app>